<!DOCTYPE html>
<html ng-app="CPB_Chat">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script src="js/angular.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="phonegap.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="CPB_Chat_Ctrl">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Chat</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="">Chat</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="isChat" ng-click="isChat = !isChat">Options</a></li>
                <li><a ng-hide="isChat" ng-click="isChat = !isChat">Chat</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<div ng-show="isChat" class="row">

    <ul>
        <li ng-repeat="message in messages">
            <span ng-style="{'color': message.color}">{{message.person}}:</span>
            <p>{{message.body}}</p>
        </li>
    </ul>
</div>
<div ng-hide="isChat" class="row">
    <div class="col-md-2">Person</div>
    <div class="col-md-10"><input type="text" ng-model="person"></div>
    <div class="col-md-2">Color</div>
    <div class="col-md-10"><input ng-model="color" type="text"/></div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="newMessage" placeholder="Search">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-default" ng-click="createMessage()">Submit</button>
        </div>
    </div>
</nav>

<script src="js/controller.js"></script>
</body>
</html>
